service_component create --name "{{project_name}}_CamelService" --app-base /var/opt/OC/hpoc-see/wildfly/server/CamelService.ear
service_component assign --name "{{project_name}}_CamelService" --hostname "{{hostname}}" --instance-id "{{instance_id}}"
parameter_bank create --name "{{project_name}}_CamelService_param"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Srv.CAMEL.CALL_PROVIDER_TECHNO" --value "CS"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.CALL_PROVIDER_TECHNO" --value "CS"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.redis.url" --value "{{redis_url}}"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.redis.poolsize" --value "{{redis_pool_size}}"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.redis.queue.egress" --value "{{redis_queue}}"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.redis.queue.ingress" --value "{{redis_ingress_queue}}"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.metrics.httpport" --value "{{metrics_port}}"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Components.COMPONENT_LOADER_CS_CLASS" --value "com.hp.opencall.ocsac.loader.in.ComponentsLoaderInImpl"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Net.Cs.INITIAL_SESSION_TIMEOUT_SECONDS" --value "{{ initial_session_timeout | default ("5") }}"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Scif.Imsc.USE_COMPONENT_LOADER" --value "true"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Components.COMPONENT_LOADER_COMMON_CLASS" --value "com.hp.opencall.ocsac.loader.common.ComponentsLoaderCommonImpl"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.OAM_TYPES_FACTORY_IMPL" --value "com.hp.opencall.ocsac.common.OamTypesFactoryImpl"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Srv.CAMEL.CALL_PROVIDER_NAME" --value "{{project_name}}_CamelService"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Net.Cs.PROVIDER_NAME" --value "{{project_name}}_CamelService"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Net.Cs.Voice.OPENING_MAX_DURATION" --value "{{ opening_max_duration | default ("300000") }}"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Net.Cs.LOAD_CAMEL1_VOICE" --value "4e4851c4-4824-307c-acf3-fdf1b16164d0"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Net.Cs.LOAD_CAMEL2_SRF" --value "9dd8cd60-4c99-3b97-b3ba-54876cd51ba1"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Net.Cs.LOAD_CAMEL2_VOICE" --value "3bdf88d4-05e7-3039-b11b-20ad2773251f"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Net.Cs.LOAD_CAMEL3_SRF" --value "c8e445c7-d67f-37f8-9326-93d395add4e0"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Net.Cs.LOAD_CAMEL3_VOICE" --value "243fc642-2360-3789-a46e-4a1dc96523af"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Net.Cs.LOAD_CAMEL4_SRF" --value "92ba7036-b221-3d63-a105-13dfb6e3903a"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Net.Cs.LOAD_CAMEL4_VOICE" --value "d3589028-5b2e-3a96-b17d-15708536731c"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Net.Cs.LOAD_CAMEL3_SMS" --value "ce77f521-ade4-351c-ad34-01b52ee6fe7e"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Net.Cs.LOCAL_SCCP_ADDRESS_SOURCE" --value "{{ use_of_gt_sccp_address | default ("INCOMING") }}"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "service.timer.queue.max.events" --value "50000"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "service.timer.queue.low.limit.percentage" --value "20"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "service.timer.queue.medium.limit.percentage" --value "40"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "service.timer.queue.min.spare.threads" --value "16"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "service.timer.queue.max.threads" --value "16"
service_component add_parameters --name "{{project_name}}_CamelService" --parameters "{{project_name}}_CamelService_param"
tcap_provider create --name "{{project_name}}_CamelService" --service-component "{{project_name}}_CamelService" --stack-name "{{ss7_stack}}" --tcap-flavour "ITU93" --sccp-flavour "ITU93" --ssn "{{ss7_ssn}}" --pc "{{ss7_pc}}" --gt-tt "UNKNOWN" --gt-nai "INTERNATIONAL_NUMBER" --gt-npi "E163_E164" --gt-digits "{{ss7_gt}}"
tcap_provider assign --name "{{project_name}}_CamelService" --app-id "{{ss7_app_id}}" --hostname "{{hostname}}" --instance-id "{{instance_id}}"

parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Net.Cs.Vssf.POLLEVENT_GUARD_TIMER" --value "5000"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Scif.Imsc.USE_TCAPITUPROVIDER_FACTORY" --value "false"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Net.Cs.Vssf.CLOSED_MAX_DURATION" --value "10000"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Net.Cs.VSSF_PROVIDER_NAME" --value "tcap_providerVSSF"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Net.Cs.Camel2.Voice.SSF2SCF_ACN" --value "04000001003201"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.VSSF_CALL_PROVIDER_NAME" --value "tcap_providerVSSF"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Net.Cs.ABORT_ON_WBB_ACN_MISMATCH" --value "false"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Net.Cs.Vssf.POLLEVENT_GUARD_TIMER" --value "5000"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Net.Cs.Vssf.OPENING_MAX_DURATION" --value "10000"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Net.Cs.Vssf.POLLEVENT_GRACE_TIMER" --value "10000"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Net.Cs.Vssf.REPORT_CHARGING_TIMEOUT_ENABLED" --value "false"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Net.Cs.Vssf.USER_INTERACTION_MAX_DURATION" --value "10000"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Net.Cs.Vssf.ACTIVE_MAX_DURATION" --value "21600000"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Net.Cs.Vssf.START_MAX_DURATION" --value "10000"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Net.Cs.TIMER_WAIT_LAST_TCAP_MSG" --value "3000"
parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Net.Cs.Vssf.CHARGING_REPORT_MAX_DURATION" --value "10000"

parameter_bank add_parameter --name "{{project_name}}_CamelService_param" --parameter "application.NgIn.Net.Map.LOCAL_SCCP_ADDRESS_SSN_OVERRIDE" --value ""